h1{
	font-family:"Epilogue", sans-serifs;
	text-align:center;
}

.paragraphe{
	display:flex;
	height:200px;
	width:50%;
	max-width: 1920px;
	align-items: center;
	justify-content: center;
	margin: auto;


}
p{
	font-family:"Lora";

}
